* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    &.active {
        overflow: hidden;
    }
}

body {
    background-color: $neutral-100;
    overflow-x: hidden;

    &.active {
        overflow: hidden; 
    }
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}